body{
  font: Georgia;
  background-color: #FBF9ED
}
h1{
  color: #F49C6A;
  font-size: 5em;
  text-align: center;
  padding-top: 50px;
}
h2{
  font-family:"Courier New";
  text-transform: uppercase;
}
h3{
  font-family: Helvetica;
  font-weight: 200;
}
a{
  color: #F4C7A8;
}
li a{
  color: #B57493;
  font-size: 1.5em;
}
#habitat{
  color: white;
  background-image: url("https://s3.amazonaws.com/misy350/bg-tree.jpg");
}
 img{
  border-radius:100%;
}
